*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #f1f1f1;
    margin-top: 105px;
    height: 100%;
}

.barnav{
    position: fixed;
    top: 0;
}

.navbar-toggler {
    border-color: rgb(255, 255, 255);
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo{
    width: 85px;
    height: 85px;
    padding: 5px 0 5px 10px;
}

.link-nav{
    color: #ffffff;
    text-decoration: none;
    text-transform: none;
    font-weight: bold;
}

.link-nav:hover{
    background-color: #f8f8f8;
    color: #324572;
    font-weight: bold;
    transition: all 0.4s;
    text-decoration: none;
}

p{
    margin-bottom: 0;
}

.footer{
    width: 100%;
    min-height: 100px;
    background: #324572;
    color: #ffff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}