*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(
        to bottom,
        #324572 0% 40%,
        #f1f1f1 40% 500%);
    background-repeat: no-repeat;
}

.container-login{
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 0px 2px 6px #888888;
}

.imagem{
    width: 120px;
    height: 120px;
    padding: 10px;
}

.login-form-title{
    font-size: 30px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.label{
    font-size: 20px;
    font-weight: bold;
}

.input{
    outline: none;
    border-radius: 15px;
    box-shadow: 0px 2px 6px #888888;
    padding: 0px 30px 0px 20px;
}

.input:hover{
    border: transparent;
    box-shadow: 0px 1px 10px #324572;
}

.eye{
    font-size: 34px;
    cursor: pointer;
    position: absolute;
    right: 10%;
    top: 66%;
    color: #000000;
}

@media (max-width: 450px){

    .eye{
        right: 15%;
    }

}

.remember{
    font-size: 15px;
}

.button_a{
    border-radius: 15px;
    border: 2px solid #0098DA;
    color: #ffff;
    background-color: #0098DA;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    transition-duration: 0.4s;
    text-decoration: none;
}

.button_a:hover {
    background-color: #ffff;
    border: 2px solid #0098DA;
    color: #0098DA;
    cursor: pointer;
}